.form-container {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background-color: #d0c9c0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  color: #5f7161;
  font-weight: bold;
}

.form-message {
  text-align: center;
  color: #6d8b74;
  margin-bottom: 10px;
}

.form-message.error {
  color: #5f7161;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #5f7161;
  font-weight: 500;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #6d8b74;
  background-color: #efead8;
  font-size: medium;
  color: #5f7161;
}

.form-group input:focus {
  outline: none;
  border-color: #d0c9c0;
  background-color: #ffffff;
}

.submit-button {
  width: 95%;
  padding: 12px;
  background-color: #6d8b74;
  color: #efead8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}

.submit-button:hover {
  background-color: #5f7161;
}
